---
import Layout from "../layouts/BlogPost.astro";
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
const pageTitle = "About Me";

const identity = {
	firstName: "Casey",
	country: "USA",
	occupation: "Visual Amalgamist",
	hobbies: ["eurorack", "lego", "reading", "generative art"],
};

const skills = [
	"drawing",
	"digital art",
	"art direction",
	"dream interpretation",
];

const happy = true;
const finished = false;
const goal = 3;
---

<!--
<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage={AboutHeroImage}
	
</Layout>
-->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/posts/">Blog</a>

		<h1>{pageTitle}</h1>
		<h3>... and my new Astro site!</h3>

		<!-- introduction variables -->
		<p>
			{identity.firstName} is a {identity.occupation} from {
				identity.country
			}. He enjoys {identity.hobbies.join(", ")}.
		</p>
		<p>
			Skills include:
			<ul>
				{skills.map((skill) => <li>{skill}</li>)}
			</ul>
		</p>

		<!-- conditionals -->
		{happy && <p>I am happy to be learning Astro!</p>}
		{finished && <p>I finished this tutorial!</p>}
		{
			goal === 3 ? (
				<p>My goal is to finish in 3 days.</p>
			) : (
				<p>My goal is not 3 days.</p>
			)
		}

		<p>
			## Visual Amalgamist | Philosopher Hobbit | Oneiric Wanderer After
			graduating BFA in Digital Media from Otis College, Casey pulled a
			stint as one third of the directing collective ‘Three Legged Legs’,
			leaving a humble body of audio visual madness in his wake. After its
			dissolution, an extended sabbatical led to co-founding the radical
			indie dev space ‘Glitch City’. There he ended up with ‘Heart
			Machine‘, contributing Narrative & World Building / Level Design /
			Miscellaneous Artistry to the award winning Kickstarted Indie Game :
			‘ Hyper Light Drifter ’. Since its release, Casey has found himself
			on an extended reclusive sabbatical where he’s been resting,
			experimenting, learning, dabbling, and occasionally making finished
			art. Casey is interested in the creation and enrichment of
			meaningful culture. To that end, he has been exploring the power of
			story and mythology, while also actively engaging with Depth
			Psychology, Jungian Analysis, and Dreamwork. He’s an avid letter
			writer, and is often found not wearing shoes. --- >I’ve often longed
			for an invitation into the unknown, the promise of otherworldly
			mystery, an entryway to the fantastical beyond. The power of symbol,
			myth, and archetypal energy to shape thought and bring meaning to
			experience is also of keen interest. As varied as my artistic output
			tends to be, these elements generally underpin what gets made. > >A
			narrative and symbolic component can be found in much of the work,
			sometimes oblique, tending towards illustrative and evocative images
			heavy in traditional media; pen, ink, and colored pencil. Digital
			tools have always augmented this traditional foundation, sometimes
			bringing things to life through animation. Observational drawing too
			is a regular part of my process. > >My current practice is generally
			without preconception, thrusting myself wholly into experimental
			processes for their own sake. This has brought me into resonant
			contact with modular synthesis, creating music and soundscapes,
			adding an auditory dimension to my otherwise primarily visual
			practice; simultaneously influencing it in unexpected ways. > >I’m
			interested in generative and procedural design, as well as
			reactive/interactive digital works, with an aspiration towards
			ultimately discovering the intersection of these diverse sets of
			methods and medium. > > **TLDR:** I make fantastical stuff with
			drawing, computers, and esoteric musical equipment! --- Currently
			accepting written correspondence : >3744 Louisiana Ave. >St. Louis,
			MO 63118 email : hunt.casey@gmail.com --- **proto-** _/ˈprəʊtəʊ/_
			original or primitive | first or earliest **thesis** _/ˈθiːsɪs/_ a
			statement or theory that is put forward as a premise to be
			maintained or proved.
		</p>
	</body>
</html>
